*
{
    color: white;
}

.etat-ouvert
{
    height: 500px;
    width: 300px;
    background-color: #31B472;
}




.panier
{
    margin-left: 5px;
    font-size:xx-large;
    font-weight: bolds;
}

.total
{
    margin-left: 10px;
    font-size:large;
    font-weight: bolds;
}

.price
{
    margin-left: 10px;
    font-size: x-large;
}
.button-ouvrir
{
    background-color: #31B472;
    border: none;
    height: 70px;
}

.etat-ferme
{
    position: fixed;
    top: 0;
    left: 0;
}

.button-ferme
{
    background-color: #31B472;
    border: none;
}
.viderPanier
{
    color: black;
}


.rowPanier {
    margin-left: 5%;
    font-size: medium;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.nombrearticle {
    text-align: right;
}

